@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";


body {
  background: #f3f6fb;
}

/* Disable Edge / IE password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}